/* CSS Style Reset */
* {
    border: none;
    margin: 0;
    padding: 0;
}

/*
----------------------------------------------------------------------------------------------------
        Styles for All Sizes
----------------------------------------------------------------------------------------------------
*/   
body {
    color: white;
    font-family: 'IM Fell English', serif;
    background-color:rgb(36, 26, 16);
}

a {
    color: rgb(0, 136, 255);
}

/* Website Image */
.website-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Nav */
nav li a,
nav li a:visited,
nav li a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* Albums */
.albums {
    display: grid;
    justify-content: space-evenly;
}
.single-album-main {
    background-color: black;
    text-align: center;
}
.album-image {
    max-width: 100%;
}
.album-date {
    color: rgb(137, 136, 136);
}

/* Album Tracklist */
.album-tracklist-container {
    background-color: black;
    text-align: left;
}
.album-tracklist {
    background: rgb(53, 53, 53);
}

/* Page Backgrounds */
.discography-page {
    background-image: radial-gradient(rgb(11, 0, 220), rgb(7, 0, 142), rgb(0, 0, 0));
}
.photos-page {
    background-color: rgb(0, 0, 0);
}
.personal-photos-page {
    background-color: rgb(32, 32, 32);
}


/* ---------- Playlists ---------- */
.playlist-container {
    background: rgb(24, 24, 24);
}
.playlist-track {
    background: rgb(41, 41, 41);
    display: grid;
}
.playlist-track p {
    font-family: 'Noto Sans', sans-serif;
}

/* Playlist Left Side */
.playlist-far-left-container {
    display: grid;
    margin-right: auto; 
    width: 100%;
}
.playlist-text-container {
    margin-right: auto; 
    margin-top: auto;
    margin-bottom: auto;
}
.playlist-track-artists {
    color: rgb(130, 130, 130);
}

/* Playlist Middle (Album) */
.playlist-track-album {
    color: rgb(130, 130, 130);

    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
}

/* Playlist Right Side */
.playlist-far-right-container{
    margin-left: auto;
    display: grid;

    grid-template-columns: 50% 50%;
}
.playlist-track-duration {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.play-button {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.play-button-image {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}
/* ^^^^^^^^^^ Playlists ^^^^^^^^^^ */


/* Photo Grid */
.photo-grid {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;

    column-fill: balance;
}
.photo-grid-card {
    background:rgb(113, 113, 113);
    display: block;

    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}
.photo {
    max-width: 100%;
    display: block;
}

/* Personal Media Grid */
.personal-media {
    display: grid;
}

/* Personal Photos */
.photo-grid-title {
    text-align: center;
}
.personal-photo {
    border-color: white;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Personal Videos */
.personal-video-grid {
    display: grid;
    justify-content: space-evenly;
}
.personal-video {
    border-style: solid;
    border-color: rgb(0, 0, 0);
}
.personal-video-grid h2 {
    background-color: black;
    text-align: center;
    border-style: solid;
    border-color: black;
}

/* Tour Videos */
.tour-video-grid {
    display: grid;
    justify-content: space-evenly;
}
video {
    width: 100%;
}

/* Home Page About Section (OLD) */
.first-about {
    display: grid;
}
.second-about {
    display: grid;
}
.about-photo {
    max-width: 100%;
}

/* Home Page About Section */
.about-grid {
    display: grid;
}
.about-grid-column-2 {
    position: relative;
}
.about-grid-column-2 img {
    position: absolute;
    bottom: 0;
}
.about-image {
    max-width: 100%;
}

/* Banner Image */
.banner-image {
    width: 100%;
}

/* Playlist Generator Form */
#playlist-form {
    display: inline-block;
    border-style: solid;
    border-color: rgb(46, 46, 46);
    background-color: rgb(0, 0, 0);
}
#submit-button {
    background-color: rgb(88, 88, 88);
    color: rgb(255, 255, 255);
    font-family: 'IM Fell English', serif;
}
#error-container {
    display: inline-block;
    background-color: rgba(157, 52, 52, 0.609);
    color: rgb(255, 217, 217);
}

/*
----------------------------------------------------------------------------------------------------
        ^ Styles for All Sizes ^
----------------------------------------------------------------------------------------------------
*/        

/*
----------------------------------------------------------------------------------------------------
        Mobile styling
----------------------------------------------------------------------------------------------------
*/      
.desktop-only {
    display: none;
}  
.desktop-tablet-only {
    display: none;
}
.mobile-only {
    display: inline-block;
}

/* Website Image */
.website-image {
    width: 70%;
    padding-top: 12px;
    padding-bottom: 15px;
}

/* Nav */
nav {
    text-align: center;
}
nav ul {
    list-style-type: none;
}
nav a {
    text-decoration: none;
    font-size: 5vw;
}
nav li {
    background-color: rgb(50, 50, 50);
    margin-top: 4px;
    padding: 10px;
}

/* Albums */
.album-single-header {
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 6vw;
}
.albums {
    grid-template-columns: 30% 30% 30%;
    grid-row-gap: 15px;
}
.single-album-main {
    padding: 4px;
    border-radius: 7px;
}
.album-image {
    border-radius: 3%;
}
.single-album h3 {
    font-size: 5vw;
}
.single-album p {
    font-size: 2.25vw;
}
#ecSingles {
    margin-bottom: 40px;
}
#ecSingles h3 {
    font-size: 3.5vw;
}

/* Album Tracklist */
.album-tracklist {
    border-radius: 7px;
    padding-left: 10%;
}
.album-tracklist-container {
    font-size: 2.5vw;
    padding-top: 3px;
    padding: 4px;
}
.album-tracklist-container h3 {
    font-size: 3vw;
    margin-left: 5px;
}

/* Discography Page */
.discography-page main {
    margin: 15px;
}


/* ---------- Playlists ---------- */
.playlist-container {
    border-radius: 7px;
    padding: 3px;

    margin-top: 3px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
}
.playlist-track {
    border-radius: 4px;
    padding: 5px;
    margin: 3px;

    grid-template-columns: 70% 30%;
}
.playlist-track-name,
.playlist-track-duration {
    font-size: 14px;
}

/* Playlist Left Side */
.playlist-far-left-container {
    grid-template-columns: 50px 80%;
}
.playlist-track-image {
    max-width: 45px;
    border-radius: 5px;
}
.playlist-text-container {
    margin-left: 5px;
}
.playlist-track-artists {
    font-size: 10px;
}

/* Playlist Right Side */
.playlist-track-duration {
    margin-right: 30px;
}
.play-button {
    margin-right: 10px;
    width: 25px;
}
/* ^^^^^^^^^^ Playlists ^^^^^^^^^^ */


/* Photo Grid */
.photo-grid {
    column-count: 3;

    margin: 10px;
    column-gap: 5px;
}
.photo-grid-card {
    margin-bottom: 5px;
    padding: 2px;
}

/* Personal Photos */
.personal-photo {
    width: 90%;
    border-radius: 10px;
    margin-top: 15px;

    border-style: solid;
    border-width: 1px;
}

/* Personal Videos */
.personal-video-grid {
    grid-template-columns: 100%;
}
.personal-video {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-width: 5px;

    margin-top: 15px;
}
.personal-video-grid h2 {
    padding: 0px;
    margin: 0px;

    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-width: 5px;

    padding-bottom: 1px;
}

/* Tour Videos */
.tour-video-grid {
    grid-template-columns: 45% 45%;
    grid-row-gap: 20px;

    margin-top: 20px;
    margin-bottom: 20px;
}
.tour-video {
    border-radius: 7px;
}

/* Home Page About Section (OLD) */
.first-about {
    grid-template-columns: 90%;
    justify-content: space-evenly;
    margin-top: 25px;
}
.second-about {
    grid-template-columns: 90%;
    justify-content: space-evenly;
    margin-top: 25px;
    margin-bottom: 50px;
}
.about-photo {
    border-radius: 10px;
    margin-bottom: 10px;
}
.first-bout article p,
.second-about article p {
    margin-left: 20px;
}

/* Home Page About Section */
.about-grid {
    grid-template-columns: 50% 50%;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
}
.about-image {
    border-radius: 10px;
}
.about-grid-column-2 {
    margin-left: 10px;
}
.about-grid h1 {
    font-size: 5vw;
    margin-top: 10px;
}
.about-grid p {
    font-size: 2.8vw;
    margin-left: 15px;
    margin-bottom: 10px;
}

/* Banner Image */
.banner-image {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Playlist Generator Form */
#playlist-form {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 10px;

    border-radius: 7px;
    border-width: 2px;

    max-width: 100%;
}
#playlist-form label {
    font-size: 12px;
}
#playlistId {
    margin-left: 3px;
    height: 17px;
    width: 135px;
    border-radius: 2px;
}
#submit-button {
    margin-left: 5px;
    border-radius: 5px;
    width: 40px;
    height: 20px;
    font-size: 11px;
}
#error-container {
    margin: 5px;
    font-size: 14px;
    padding: 5px;
    border-radius: 3px;
}


/*
----------------------------------------------------------------------------------------------------
        ^ Mobile Styling ^
----------------------------------------------------------------------------------------------------
*/    


/*
----------------------------------------------------------------------------------------------------
        Tablet Only Styles
----------------------------------------------------------------------------------------------------
*/    
@media all and (min-width: 481px) and (max-width: 850px) {

    /* Website Image */
    .website-image {
        width: 60%;
    }

    /* Nav */
    nav li {
        margin: 5px 5px 10px 5px;
    }
    nav li a,
    nav li a:visited,
    nav li a:link {
        padding: 0px 5px;
        font-size: 4vw;
    }

    /* Home Page About Section (OLD) */
    .first-about {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 30px;
    }
    .first-about article,
    .second-about article {
        margin-top: 10px;
    }
    .first-about h1,
    .second-about h1 {
        font-size: 3vw;
    }
    .first-about h1 {
        margin-left: 10px;
    }
    .first-about p,
    .second-about p {
        font-size: 2.5vw;
        margin-left: 20px;
        margin-right: 15px;
        margin-top: 1px;
    }
    .second-about {
        margin-left: 15px;
        margin-right: 10px;
        margin-top: 0px;
        margin-bottom: 40px;
    }
    .about-photo {
        border-radius: 5px;
    }

    /* Home Page About Section */
    .about-grid {
        grid-template-columns: 45% 55%;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 50px;
    }
    .about-grid-column-2 {
        margin-left: 20px;
    }
    .about-grid h1 {
        margin-top: 20px;
    }
    .about-grid p {
        font-size: 2.5vw;
        margin-left: 20px;
        margin-right: 5px;
        margin-bottom: 25px;
    }

    /* Albums */
    .album-single-header {
        font-size: 5vw;
        margin-left: 20px;
        margin-bottom: 10px;
    }

    /* Playlist Generator Form */
    #playlistId {
        width: 250px;
        border-radius: 2px;
    }*

    /* Photo Grid */
    .photo-grid {
        column-count: 4;

        column-gap: 10px;
    }
    .photo-grid-card {
        margin-bottom: 10px;
        padding: 4px;
    }
}

/*
----------------------------------------------------------------------------------------------------
        Tablet and Desktop Styles
----------------------------------------------------------------------------------------------------
*/    
@media all and (min-width: 481px) {
    .mobile-only {
        display: none;
    }
    .desktop-tablet-only {
        display: inline-block;
    }

    /* Nav */
    nav ul {
        list-style-type: none;
        margin: 0;

        /* text-align: left;
        padding-left: 20px; */
    }
    nav li {
        display: inline-block;
        background-color: transparent;
        border-top: none;
        border-style: solid;

        border-width: 0.5px;
        border-radius: 5px;
        padding: 0px;
    }
    nav li a,
    nav li a:visited,
    nav li a:link {
        display: block;
        text-decoration: none;
        /* color:rgb(167, 167, 167) */
    }

    /* Home Page About Section (OLD) */
    .first-about {
        grid-template-columns: 55% 45%;
    }
    .second-about {
        grid-template-columns: 45% 55%;
    }
}

/*
----------------------------------------------------------------------------------------------------
        Desktop Only Styles
----------------------------------------------------------------------------------------------------
*/    
@media all and (min-width: 850px) {
    .desktop-only {
        display: inline-block;
    }

    /* Website Image */
    .website-image {
        width: 450px;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    /* Nav */
    nav li {
        margin: 15px;
        margin-top: 0px;
    }
    nav li a,
    nav li a:visited,
    nav li a:link {
        padding: 0px 20px;
        font-size: 30px;
    }

    /* Albums */
    .album-single-header {
        text-align: left;
        margin-left: 50px;
        font-size: 40px;
        margin-bottom: 5px;
        margin-top: 10px;
    }
    #ecAlbums {
        margin-top: 5px;
        grid-template-columns: 28% 28% 28%;
        grid-row-gap: 15px;
    }
    .single-album-main {
        padding: 7px;
        border-radius: 10px;
    }
    .album-image {
        border-radius: 5px;
    }
    .single-album h3 {
        font-size: 40px;
    }
    .single-album p {
        font-size: 20px;
    }
    #ecSingles {
        margin-top: 10px;
        margin-bottom: 50px;
        grid-template-columns: 20% 20% 20% 20%;
        grid-row-gap: 15px;
    }
    #ecSingles h3 {
        font-size: 25px;
    }
    #ecSingles p {
        font-size: 17px;
    }
    
    /* Album Tracklist */
    .album-tracklist {
        padding-left: 20px;
    }
    .album-tracklist-container {
        font-size: 16px;
        padding-top: 5px;
        padding: 7px;
    }
    .album-tracklist-container h3 {
        margin-left: 20px;
        font-size: 20px;
    }

    /* Discography Page */
    .discography-page main {
        margin-left: 20px;
        margin-right: 20px;
    }
    .discography-page h2 {
        margin-left: 10px;
    }

    /* ---------- Playlists ---------- */
    .playlist-container {
        border-radius: 10px;
        padding:5px;

        margin-top: 3px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 50px;
    }
    .playlist-track {
        border-radius: 7px;
        padding: 5px;
        margin: 5px;

        grid-template-columns: 45% 45% 10%;
    }
    .playlist-track-name,
    .playlist-track-duration {
        font-size: 16px;
    }

    /* Playlist Left Side */
    .playlist-far-left-container {
        grid-template-columns: 50px 80%;
    }
    .playlist-track-image {
        max-width: 50px;
        border-radius: 5px;
    }
    .playlist-text-container {
        margin-left: 5px;
    }
    .playlist-track-artists {
        font-size: 12px;
    }

    /* Playlist Middle (Album) */
    .playlist-track-album {
        font-size: 14px;
    }
    
    /* Playlist Right Side */
    .playlist-track-duration {
        margin-right: 30px;
    }
    .play-button {
        margin-right: 10px;
        width: 25px;
    }
    /* ^^^^^^^^^^ Playlists ^^^^^^^^^^ */


    /* Photo Grid */
    .photo-grid {
        column-count: 5;

        margin-left: 25px;
        margin-right: 25px;
        column-gap: 15px;
    }
    .photo-grid-card {
        margin-bottom: 15px;
        padding: 7px;
        /* padding-bottom: 30px; */
    }

    /* Live Show Photo Grid */
    .my-photo-grid {
        column-count: 4;
    }

    /* Personal Media Grid */
    .personal-media {
        grid-template-columns: 70% 30%;
    }

    /* Personal Photos */
    .photo-grid-title {
        font-size: 50px;
        margin-top: 50px;
        margin-bottom: 10px;
    }
    .personal-photo-grid {
        display: grid;
        grid-template-columns: 47% 47%;
        grid-row-gap: 20px;
        justify-content: space-evenly;

        align-content: start;
        margin-bottom: 50px;
    }
    .personal-photo {
        width: 100%;
        margin: 0px;

        border-radius: 10px;
        border-style: solid;
        border-width: 1px;
    }

    /* Personal Videos */
    .personal-video-grid {
        grid-template-columns: 30%;
        align-content: start;
        margin-top: 10px;
        margin-bottom: 40px;
    }
    .personal-video {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-width: 7px;
    }
    .personal-video-grid h2 {
        width: 100%;

        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-width: 7px;
    
        padding-bottom: 5px;
    }

    /* Tour Videos */
    .tour-video-grid {
        grid-template-columns: 23% 23% 23% 23%;
        grid-row-gap: 10px;
    }
    .tour-video {
        border-radius: 7px;
    }

    /* Home Page About Section (OLD) */
    .first-about {
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 0px;
    }
    .first-about article,
    .second-about article {
        margin-top: 50px;
    }
    .first-about h1,
    .second-about h1 {
        font-size: 40px;
        margin-left: 25px;
    }
    .first-about p,
    .second-about p {
        font-size: 20px;
        margin-left: 50px;
        margin-right: 25px;
        margin-top: 5px;
    }
    .second-about {
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 0px;
    }
    .about-photo {
        border-radius: 10px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    /* Home Page About Section */
    .about-grid {
        grid-template-columns: 40% 60%;
        margin-top: 30px;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 40px;
    }
    .about-grid-column-2 {
        margin-left: 30px;
    }
    .about-grid h1 {
        font-size: 40px;
        margin-top: 2.5%;
    }
    .about-grid p {
        font-size: 18px;
        margin-left: 30px;
        margin-bottom: 10px;
    }

    /* Playlist Generator Form */
    #playlist-form {
        margin-left: 100px;
        margin-top: 15px;
        margin-bottom: 10px;
        padding: 10px;

        border-radius: 7px;
        border-width: 2px;
    }
    #playlist-form label {
        font-size: 20px;
    }
    #playlistId {
        width: 500px;
        height: 30px;
        border-radius: 2px;
    }
    #submit-button {
        margin-left: 5px;
        border-radius: 10px;
        width: 55px;
        height: 30px;
        font-size: 15px;
    }
    #error-container {
        margin: 5px;
        font-size: 20px;
        padding: 5px;
        border-radius: 3px;
    }
}
/*
----------------------------------------------------------------------------------------------------
        ^ Desktop Only Styles ^
----------------------------------------------------------------------------------------------------
*/  